// colors;
$main-black-background-color: #101010;
$secondary-black-background-color: #24282e;
$light-black-background-color: #24282e71;
$main-white-color: #ffffff;
$main-grey-color: #9d9d9d;
$main-dark-grey-color: #5f5d5d;
$main-golden-color: #fec800;
// special colors;
$s-pink-color: #ea4c89;
$s-cyan-color: #4be2ff;
// breakpoints;
$break-point-xlg: 2000px;
$break-point-lg: 1250px;
$break-point-l: 950px;
$break-point-m: 600px;
// z-index(s);
$z-regular: 2;
$z-important: 3;
// border-radius;
$border-radius-1: 0.8rem;
$border-radius-2: 1rem;
$border-radius-3: 2rem;
$border-radius-4: 3.2rem;
// font-size;
$font-size-lg: 3.1rem;
$font-size-l: 2rem;
$font-size-m: 1.5rem;
$font-size-s: 1rem;
$font-size-xs: 0.95rem;
$font-size-xxs: 0.80rem;