@import "./variables.scss";
//
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    &:hover {
        text-decoration: none;
        text-shadow: 0 0 5px $main-black-background-color;
        cursor: pointer;
    }
}

ul li {
    list-style-type: none;
}

html {
    height: 100vh !important;
    width: 100%;
    scrollbar-color: transparent transparent;
     ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-size: $font-size-s;
    @media (min-width: $break-point-xlg) {
        font-size: $font-size-m;
    }
    background-color: $main-black-background-color;
    color: $main-grey-color;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-div {
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: $z-regular;
    position: absolute;
    display: none;
    &__overlay--modifier {
        display: block;
    }
}

.warn-invalid-query {
    border: 2px solid $main-golden-color !important;
}

.no-serach-results-continer {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 2rem;
    &__text {
        color: $main-golden-color;
        font-size: $font-size-l;
        width: clamp(50%, 70%, 70%);
        line-height: 3rem;
    }
}

.call-to-action-container {
    position: absolute;
    right: -1px;
    top: 2px;
    width: 4rem;
    height: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 200ms ease-in;
    font-size: 22px;
    color: invert($main-grey-color);
    &__watch-later {
        padding: 0 4px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        &--checked {
            color: $main-golden-color;
            cursor: pointer;
        }
    }
    &__my-rating {
        width: 24px;
        height: 24px;
        cursor: pointer;
        &--checked {
            color: $main-golden-color;
            cursor: pointer;
        }
    }
}