@import "./variables.scss";
//
// main content wrapper;
.wrapper {
    position: relative;
    width: clamp(1px, 92%, 2300px);
    @media (max-width: $break-point-lg) {
        width: 95%;
    }
    height: 95vh;
    min-height: 800px;
    border: 2px solid $main-white-color;
    border-radius: 1rem;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    // the scrollbar;
     ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    scrollbar-color: transparent transparent;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    @media (max-width: $break-point-lg) {
        width: 95%;
    }
    margin: 0 auto;
    overflow-y: auto;
    .movies-main-container {
        width: 92%;
        margin: 0 auto;
    }
}

.now-playing {
    text-align: center;
    min-height: 300px;
    margin: 0 0 4rem;
    h1 {
        margin-bottom: 2.5rem;
        color: $main-golden-color;
        font-size: $font-size-lg
    }
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: $break-point-l) {
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
            align-items: center;
        }
    }
    &__movie {
        width: 45%;
        min-width: 350px;
        @media (max-width: $break-point-l) {
            min-width: 450px;
            margin: 1rem 0;
        }
        height: 320px;
        border: 1px solid $main-golden-color;
        border-radius: $border-radius-4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    &__overlay-css {
        position: absolute;
        background-color: $light-black-background-color;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: $border-radius-4;
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            font-size: $font-size-m;
            color: $main-golden-color;
            border-bottom: 1px solid $main-white-color;
            padding-bottom: 0.3rem;
        }
    }
}

.movies-gallery {
    width: clamp(2200px, 90%, );
    &__sort-area {
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
        width: clamp(260px, 70%, 70%);
        @media (max-width: $break-point-lg) {
            min-width: 100%;
            margin: 0 auto 4rem;
            flex-wrap: wrap;
        }
        &>div {
            display: flex;
            justify-content: space-between;
            @media (max-width: $break-point-lg) {
                margin: 2rem 0;
            }
        }
        h4 {
            margin-right: 0.6rem;
            cursor: pointer;
        }
        label {
            margin-right: 0.6rem;
        }
        .properties-drop-down {
            position: relative;
            span {
                color: $main-white-color;
            }
            .toggler-icon {
                position: absolute;
                right: -16px;
                top: 9px;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-top: 5px solid $main-grey-color;
                color: red;
                cursor: pointer;
            }
            .drop-down-current-value {
                cursor: pointer
            }
        }
        // each drop down menu;
        .drop-down-menu {
            display: none;
            position: absolute;
            top: 19px;
            right: -25px;
            z-index: $z-regular;
            &:hover {
                cursor: pointer;
            }
            li {
                background-color: $main-black-background-color;
                color: $main-white-color;
                border-right: 1px solid $main-white-color;
                border-left: 1px solid $main-white-color;
                width: 140px;
                padding: 8px 14px;
                &:first-of-type {
                    border-top: 1px solid $main-white-color;
                    border-top-right-radius: $border-radius-1;
                    border-top-left-radius: $border-radius-1;
                    margin-top: 5px;
                }
                &:last-of-type {
                    border-bottom: 1px solid $main-white-color;
                    border-bottom-right-radius: $border-radius-1;
                    border-bottom-left-radius: $border-radius-1;
                }
                &:hover {
                    background-color: $main-white-color;
                    color: $main-black-background-color;
                }
            }
        }
        .visible-drop-down-menu {
            display: block;
            z-index: $z-important;
        }
        input {
            background-color: $main-black-background-color;
            outline: none;
            border: none;
            border-bottom: 2px solid $main-grey-color;
            &:focus,
            &:active {
                outline: 1px solid $main-grey-color;
            }
            color: $main-white-color;
        }
    }
    &__landing-page {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: auto;
        justify-items: center;
        .movie-container {
            position: relative;
            width: clamp(214px, 25%, 400px);
            height: 350px;
            background: $main-black-background-color;
            margin: 0 1.5rem 8rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: $border-radius-1;
            &__description-css {
                position: absolute;
                height: 3.8rem;
                width: 100%;
                bottom: -67px;
                left: 0;
                // opacity: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                text-align: left;
                h4 {
                    font-size: $font-size-s;
                    color: $main-white-color;
                    padding-bottom: 0.3rem;
                    padding-top: 0.5rem;
                    max-width: 150px;
                }
                p {
                    font-size: $font-size-xxs;
                    color: $main-grey-color;
                }
                .rating-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    h4 {
                        font-size: $font-size-xs;
                    }
                    .rating-css {
                        background-color: $main-golden-color;
                        color: $main-black-background-color;
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: $border-radius-2;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}