@import "./variables.scss";
//
// main content wrapper;
.wrapper {
    position: relative;
    width: clamp(1px, 92%, 2300px);
    @media (max-width: $break-point-lg) {
        width: 95%;
    }
    height: 95vh;
    min-height: 800px;
    border: 2px solid $main-white-color;
    border-radius: 1rem;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    // the scrollbar;
     ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    scrollbar-color: transparent transparent;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
}

.now-playing {
    text-align: center;
    min-height: 300px;
    h2 {
        margin-bottom: 2.5rem;
        color: $main-golden-color;
        font-size: 3.1rem;
    }
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    &__movie {
        width: 39%;
        height: 300px;
        border: 1px solid $main-golden-color;
        border-radius: $border-radius-2;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
}