@import "./variables.scss";
//
// main content wrapper;
.wrapper {
    position: relative;
    width: clamp(1px, 92%, 2300px);
    @media (max-width: $break-point-lg) {
        width: 95%;
    }
    height: 95vh;
    min-height: 800px;
    border: 2px solid $main-white-color;
    border-radius: 1rem;
    margin: 2rem auto 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    // the scrollbar;
     ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
    scrollbar-color: transparent transparent;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    @media (max-width: $break-point-lg) {
        width: 95%;
    }
    margin: 0 auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    .container {
        display: none;
        pointer-events: none;
        &--visible {
            pointer-events: visible;
            display: block;
            width: 92%;
            margin: 0 auto;
            @media (max-width: $break-point-m) {
                width: 100%;
            }
        }
    }
    .rating-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h4 {
            font-size: $font-size-xs;
        }
        .rating-css {
            background-color: $main-golden-color;
            color: $main-black-background-color;
            font-size: $font-size-s;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: $border-radius-2;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .generic-media-container {
        position: relative;
        width: clamp(214px, 25%, 400px);
        height: 350px;
        background: $main-black-background-color;
        margin: 0 1.5rem 8rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: $border-radius-1;
        &:hover {
            cursor: pointer;
            filter: blur(3px);
        }
        &__description-css {
            position: absolute;
            height: 3.8rem;
            width: 100%;
            bottom: -67px;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            text-align: left;
            h4 {
                font-size: $font-size-s;
                color: $main-white-color;
                padding-bottom: 0.3rem;
                padding-top: 0.5rem;
                max-width: 150px;
                font-weight: 400;
            }
            p {
                font-size: $font-size-xxs;
                color: $main-grey-color;
            }
        }
        &__background-img-fall-safe {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $light-black-background-color;
            border-radius: $border-radius-1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: $font-size-m;
        }
    }
}

// movies/tv shows container
.grid-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    margin-top: 4rem;
}

// celebs container
.rows-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 4rem;
    .generic-celeb-container {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        width: 100%;
        background-color: $light-black-background-color;
        height: 30rem;
        margin: 2rem 0;
        &__personal {
            width: clamp(100px, 30%, 450px);
            height: 100%;
            position: relative;
        }
        &__img {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            width: clamp(250px, 100%, 100%);
            height: 100%;
        }
        &__overview {
            width: 100%;
            p {
                font-size: 2rem;
                word-wrap: anywhere;
                padding: 0.5rem 2rem 2rem;
                max-width: 860px;
            }
        }
        &__identifier {
            color: $main-golden-color;
            font-weight: 500;
            margin-right: auto;
        }
        &__mini-movies {
            display: flex;
            justify-content: space-evenly;
            div {
                height: 15rem;
                width: 10rem;
                margin: 0 1rem;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        &__celeb-background-img-fall-safe {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $light-black-background-color;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: $font-size-m;
            text-align: center;
            line-height: 3rem;
        }
        &__celeb-movies-img-fall-safe {
            background-color: $light-black-background-color;
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                font-size: $font-size-s;
                text-align: center;
                line-height: 2;
            }
        }
        &__link-to {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.now-playing {
    text-align: center;
    min-height: 300px;
    margin: 0 0 4rem;
    h1 {
        margin-bottom: 2.5rem;
        color: $main-golden-color;
        font-size: $font-size-lg
    }
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: $break-point-l) {
            justify-content: center;
            flex-wrap: wrap;
            margin: 0 auto;
            align-items: center;
        }
    }
    &__movie {
        width: 45%;
        min-width: 350px;
        @media (max-width: $break-point-l) {
            min-width: 450px;
            margin: 1rem 0;
        }
        @media (max-width: $break-point-m) {
            min-width: 100%;
            margin: 2rem 0;
        }
        height: 320px;
        border: 1px solid $main-golden-color;
        border-radius: $border-radius-4;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }
    &__overlay-css {
        position: absolute;
        background-color: $light-black-background-color;
        height: 100%;
        width: 100%;
        bottom: 0;
        left: 0;
        border-radius: $border-radius-4;
        display: flex;
        justify-content: center;
        align-items: center;
        h4 {
            font-size: $font-size-m;
            color: $main-golden-color;
            border-bottom: 1px solid $main-white-color;
            padding-bottom: 0.3rem;
        }
    }
}

.landing-page-gallery {
    width: clamp(1px, 100%, 2200px);
    min-height: 800px;
    &__sort-area {
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;
        @media (max-width: $break-point-lg) {
            min-width: 100%;
            margin: 0 auto 4rem;
            flex-wrap: wrap;
        }
        @media (max-width: $break-point-m) {
            justify-content: flex-start;
        }
        &>div {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 221px;
            padding-bottom: 40px;
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            @media (max-width: $break-point-lg) {
                margin: 2rem 0;
            }
            @media (max-width: $break-point-m) {
                justify-content: space-between;
            }
        }
        h4 {
            margin-right: 0.6rem;
            cursor: pointer;
        }
        label {
            margin-right: 0.6rem;
        }
        .search-by-year-container {
            width: 359px;
            .text-input {
                background-color: $main-black-background-color;
                outline: none;
                border: none;
                border-bottom: 2px solid $main-grey-color;
                text-indent: 1px;
                margin: 0 0.7rem;
                &:focus,
                &:active {
                    outline: 1px solid $main-grey-color;
                }
                color: $main-white-color;
            }
            .clear-year-filter-button {
                background-color: $main-golden-color;
                color: $main-black-background-color;
                font-weight: 600;
                border-radius: 1rem;
                width: 4rem;
                padding: 7px 0;
                opacity: 0;
                pointer-events: none;
                outline: 1px solid $main-golden-color;
                &__visible {
                    opacity: 1;
                    cursor: pointer;
                    pointer-events: visible;
                }
            }
        }
        .properties-drop-down {
            &--temporarily-disabled {
                pointer-events: none;
                span.drop-down-current-value {
                    pointer-events: none;
                    color: $light-black-background-color;
                    cursor: not-allowed;
                }
            }
            position: relative;
            span {
                color: $main-white-color;
            }
            .toggler-icon {
                position: absolute;
                top: 12px;
                right: -6px;
                width: 0;
                height: 0;
                border: 5px solid transparent;
                border-top: 5px solid $main-grey-color;
                color: red;
                cursor: pointer;
                &--for-rating {
                    right: -12px;
                    @media (max-width: $break-point-m) {
                        right: -16px;
                        top: 3px;
                    }
                }
                @media (max-width: $break-point-m) {
                    right: -16px;
                    top: 3px;
                }
            }
            .drop-down-current-value {
                cursor: pointer;
                &__dormant {
                    color: $secondary-black-background-color;
                }
            }
        }
        // each drop down menu;
        .drop-down-menu {
            display: none;
            position: absolute;
            top: 19px;
            right: -65px;
            z-index: $z-regular;
            width: max-content;
            text-align: left;
            &:hover {
                cursor: pointer;
            }
            li {
                background-color: $main-black-background-color;
                color: $main-white-color;
                border-right: 1px solid $main-white-color;
                border-left: 1px solid $main-white-color;
                padding: 8px 14px;
                &:first-of-type {
                    border-top: 1px solid $main-white-color;
                    border-top-right-radius: $border-radius-1;
                    border-top-left-radius: $border-radius-1;
                    margin-top: 5px;
                }
                &:last-of-type {
                    border-bottom: 1px solid $main-white-color;
                    border-bottom-right-radius: $border-radius-1;
                    border-bottom-left-radius: $border-radius-1;
                }
                &:hover {
                    background-color: $main-white-color;
                    color: $main-black-background-color;
                }
            }
        }
        .visible-drop-down-menu {
            display: block;
            z-index: $z-important;
        }
    }
}

.search-field-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__form-section {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        label {
            font-size: $font-size-l;
            display: block;
            color: $main-golden-color;
            margin-bottom: 1rem;
        }
        input {
            background-color: transparent;
            outline: none;
            border: none;
            border: 1px solid $main-grey-color;
            width: 520px;
            margin: 2rem;
            height: 4rem;
            border-radius: $border-radius-2;
            color: $main-white-color;
            text-indent: 62px;
            font-size: $font-size-lg;
        }
        // the search icon;
        .search-icon-container {
            color: $main-grey-color;
            font-size: $font-size-l;
            position: absolute;
            left: 33px;
            bottom: 33px;
            width: 56px;
            z-index: $z-important;
            background: $main-black-background-color;
            height: 62px;
            border-bottom-left-radius: $border-radius-2;
            border-top-left-radius: $border-radius-2;
        }
        .fa-search {
            color: $main-grey-color;
            font-size: $font-size-l;
            position: absolute;
            left: 13px;
            bottom: 15px;
            &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 63px;
                background-color: $main-grey-color;
                top: -15px;
                right: -15px;
            }
        }
    }
}

.current-movie {
    width: 50%;
    max-width: 1100px;
    height: 80%;
    max-height: 950px;
    @media (min-width: $break-point-xlg) {
        max-width: 1300px;
    }
    margin: 0 auto;
    background-color: $light-black-background-color;
    position: fixed;
    // top: 200px;
    bottom: 1.6%;
    opacity: 0;
    pointer-events: none;
    &--visible {
        z-index: $z-important;
        opacity: 1;
        pointer-events: visible;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__banner {
        width: 100%;
        height: 30rem;
        @media (min-width: $break-point-xlg) {
            height: 40rem;
        }
        text-align: center;
        background-color: $main-black-background-color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        word-wrap: normal;
        color: $main-grey-color;
    }
    &__description {
        color: $main-golden-color;
        font-size: $font-size-m;
        line-height: 2.5rem;
        overflow-y: auto;
        border-bottom: 1px solid $main-golden-color;
        margin: 1rem 0;
        p {
            padding: 0 0.7rem;
            &::before {
                content: "-";
                text-transform: capitalize;
            }
        }
    }
    &__details {
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: royalblue;
        font-size: 2rem;
        text-decoration: underline;
    }
}